
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #27272a;
  --primary: #7f1d1d;
  --accent: #60a5fa;
  --accentLight: #8ebcf5;
  --accentDark: #4680c7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
input {
  @apply bg-transparent;
}

.submit-btn {
  @apply bg-accent hover:bg-accentDark px-2 py-1 rounded text-white shadow-xl duration-300 cursor-pointer;
}

.input-bar {
  @apply border border-zinc-400 rounded p-2 w-full focus:ring-primary bg-transparent focus:outline-primary focus:shadow-xl hover:shadow-xl duration-300 focus:font-semibold ;
}

.input-label {
  @apply text-primary font-bold text-xs;
}

.disabled {
  @apply cursor-not-allowed opacity-60;
}

.nav-link {
  @apply duration-500 cursor-pointer hover:bg-accent hover:font-semibold px-2 py-1 rounded hover:shadow-xl;
}

.dropdown-btn {
  @apply w-full text-primary inline-flex gap-2 hover:bg-primary hover:text-background rounded p-1 hover:shadow-xl duration-300 cursor-pointer;
}